<md-dialog>
    <form ng-cloak style="width: 800px;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Izbor predmeta</h2>
            </div>
        </md-toolbar>
        <md-dialog-content style="overflow-x: visible;">
            <div class="md-dialog-content">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <md-input-container>
                            <input ng-model="ctrl.query.filter" type="text" placeholder="Traži" ng-change="ctrl.query.page = 1; ctrl.getSubjects()">
                        </md-input-container>
                    </div>
                </md-toolbar>
                <md-table-container>
                    <table md-table md-row-select="true" ng-model="ctrl.selected" multiple="{{ctrl.multiple}}">
                        <thead md-head md-head md-order="ctrl.query.order" md-on-reorder="ctrl.getSubjects">
                            <tr md-row>
                                <th md-column md-order-by="code">Šifra</th>
                                <th md-column md-order-by="name">Naziv</th>
                                <th md-column md-numeric md-order-by="espb">ESPB</th>
                                <th md-column>Tip</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr ng-disabled="ctrl.disableUsed && subject.teacherId != null" md-row ng-repeat="subject in ctrl.subjects.data track by $index" md-select="subject" md-select-id="code" md-auto-select ng-style="{'opacity': (ctrl.disableUsed && subject.teacherId != null) ? 0.5 : 1}">
                                <td md-cell>{{subject.code}}</td>
                                <td md-cell>{{subject.name}}</td>
                                <td md-cell>{{subject.espb}}</td>
                                <td md-cell>{{(subject.required) ? 'Obavezni' : 'Izborni'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-label="{page: 'Strana:', rowsPerPage: 'Broj predmeta po strani:', of: 'od'}" md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="{{ctrl.subjects.count}}" md-on-paginate="ctrl.getSubjects"></md-table-pagination>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" ng-click="ctrl.pick()" ng-disabled="ctrl.selected.length == 0">
                Odaberi
            </md-button>
            <span flex></span>
            <md-button class="md-raised" ng-click="ctrl.cancel()">
                Zatvori
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
